[user]
  name = Icy-Joker
  email = 790238255@qq.com
[core]
  autoctrlf = true
  safectrlf = true
[http]
  proxy = http://127.0.0.1:1087
[https]
  proxy = http://127.0.0.1:1087
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
